<nav>
    <div class="nav-container">
        <button onclick="window.location.href='/';" class="home-button">Home</button>
        <div class="right-buttons">
            <button onclick="window.location.href='/basket';">Basket</button>
            <button onclick="window.location.href='/add-movie';">Add Movie</button>
        </div>
    </div>
</nav>   