body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    width: 80%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group a {
    text-decoration: none;
}

.form-group label {
    font-weight: bold;
}

.form-control, .form-control-file, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover, .btn-primary:hover {
    opacity: 0.8;
}

.text-center {
    text-align: center;
}