body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

button.clear-basket-button {
    
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.clear-basket-button:hover {
    background-color: #c82333;
}

.checkout-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.checkout-button:hover {
    background-color: darkblue;
}

.clear-basket-button {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.clear-basket-button,
.checkout-button {
    margin: 0 10px; 
}

.quantity-buttons {
    display: flex;
    align-items: center;
}

.quantity-buttons button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.quantity-buttons .remove-from-basket-button {
    background-color: #dc3545;
}

.quantity-buttons .remove-from-basket-button:hover {
    background-color: #c82333;
}